
.About {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 1em;
    gap: 1em;
}
  
.About h2 {
    font-size: 1.8rem;
    color: var(--text-secondary);
    font-weight: 600;
}
  
.intro-para {
    font-size: 1.1em;
    text-align: justify;
    line-height: 1.6;
}
  
.About img {
    width: 250px;
    height: auto;
    border-radius: 10px;
}

.skills-marquee-container {
  width: 100vw; 
  overflow-x: hidden;
  padding: 10px 0;
  position: relative;
}

.skills-marquee {
  display: flex;
  white-space: nowrap;
  margin-bottom: -1em;
}

.skills-wrapper {
  display: flex;
  min-width: 100%;
  justify-content: space-around;
  gap: 1.5em;
}

.skill-item {
    padding: 10px 20px;
    margin: 2.2em 0;
    background-color: var(--bg-secondary);
    color: var(--hover-primary);
    border: 1px solid var(--text-primary);
    border-width: 1px 4px 3px 1px;
    font-size: 1.2rem;
    font-weight: bold;
    border-radius: 10px;
    display: inline-block;
}
 
  /* Responsive Design */
  @media (min-width: 768px) {
    .About {
      flex-direction: row;
      text-align: left;
    }
  
    .intro-para {
      text-align: left;
    }
  }
  